:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #ecf2ff;
  background-color: #050814;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
}

button {
  font-family: inherit;
}

